@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
.card {
  background-color: var(--element-background);
  width: 250px;
  @include interactive-elem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 200px;
  }
}

.invisible {
  display: none;
}
