@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: 300px;
}

.light {
  background-image: url('../../assets/images/background-n.jpg');
  @include app-light;
}

.dark {
  background-image: url('../../assets/images/background.jpg');
  @include app-dark;
}
