@import '../../styles/mixins.scss';

.detailedWindow {
  max-width: 50%;
  width: 50%;
  background-color: var(--element-background);
  min-width: 40%;
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  height: fit-content;
  padding: 6px;

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-size: 18px;
  }

  img {
    width: 90%;
    margin: 0 auto;
  }
}

.closeButton {
  @include interactive-elem;
  @include outline;
  @include control-elem;
}
